@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


.top {
    background-color:  #FFFFFF;
    font-family: 'Lato', sans-serif;
    min-height: 120px;
/*border-bottom: 4px solid #029AE4;*/
}

.top a{
    color: #FF7043;
        font-weight:300;
        text-decoration: underline;

}

.top h1{
    font-size: 2.7em;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-align: center;
    margin-top: 35px;
     padding-bottom: 0px;
     letter-spacing: -1px;

    color: #262626;
    text-decoration: none;


}


.top small{ 
    font-size: 0.6em;
vertical-align: super;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;

    color: #333333;
    text-decoration: none;
    text-transform: uppercase;

}

.top b { 
    font-weight: 700;
         color: #262626;
}



.top h3{
    font-size: 1em;

    font-family: 'Lato', sans-serif;
    font-weight:300;
 
    line-height: 1.5em;
    text-align: center;
    color: #FF7043;
margin-right: 30px;
margin-left: 30px;
      margin-top: 13px;
    padding-bottom: 35px ;
    margin-bottom: 0px;
 } 

 .top hr {
    margin-top: 0px;
    margin-bottom: 0px;
  border-top: 1px solid #DFDFDF;
  width: 20%;
                            
}

.page {
    background-color: #28B5F5;
    min-height: 713px;
    padding: 30px 30px 30px 40px;  
    margin-top: 0px;

}

.page h4{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
color: #FFFFFF;   
line-height: 1.3em;
margin-bottom: 5px;                      
}

.glyphicon-remove {

    font-size: 1.1em;
    padding-bottom: 0px;
}

.page h5{
    font-family: 'Lato', sans-serif;
    font-weight: 300; 
    color: #B2E4FB;  
    font-size: 1em;
    line-height: 1.3em;
    letter-spacing: 0px;                          
}
#speakers{
  min-width: 234px; 

}

 #speakers hr {
margin-top: 27px;
margin-bottom: 27px;
  border-top: 1px solid #81d4fa;
  width: 30%;


                            
}

 #filters hr {

  border-top: 1px solid #81d4fa;
  width: 30%;


                            
}

#speakers {
    text-align: left; 


}

#filters {
    text-align: right; 
    margin-bottom: 20px;
}



.bottom {
    background-color:  #FFFFFF;
/*    background-color:  #0d1e2a;*/
    height: 60px;
 /*   border-top: 4px solid #029AE4;*/

}

.btn {
    border: none;
}



#signature {
text-align: center;
color: #28B5F5;
font-family: 'Lato', sans-serif;
font-weight: 700;
padding-top: 14px;
margin-bottom: 0px;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 0.8em;
text-decoration: none;

}

#signature p{
    margin-bottom: 0px;
}

#signature :hover{
   color: #0187D0;
text-decoration: none;
}

#signature :visited{
color: #28B5F5;
font-weight:700;
text-decoration: none;
}

.share a{
    color: #4EC2F6;
    font-size: 1.5em;
    text-align: center;
    padding-left: 5px;
        padding-right: 5px;

}

.share p{
   text-align: center;
    padding-top: 12px;
    margin-bottom: 16px;

}
.share :hover {
    color: #0187D0;
    text-decoration: none;

}

#infobutton {
    padding-top: 12px;
    margin-bottom: 16px;
    text-align: left !important;
}

/* buttons speakers*/


.speakers{
    font-weight: 400;
    color: #014880;
    background-color: #029AE4;
    margin-top: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 5px;
    -moz-border-radius: 11px; 
    -webkit-border-radius: 11px; 
        border-radius: 11px;
    font-family: 'Lato', sans-serif;
    font-size: 0.75em;
    box-shadow: 0px 2px 0px #0187D0;
    text-align: center !important;
    border:none;


}

.all {
    color: #014880;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    background: none;
    box-shadow: 0px 2px 0px #0187D0;
    font-weight: 700;
    text-align: left !important;
    background-color: #029AE4;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px;
    border-radius: 15px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

button.active-button {
    outline: none !important;
    color: #029AE4;
    background-color: #FFFFFF;
box-shadow: none;
    border:none;
  box-shadow: 0px 2px 0px #0187D0;
}

button:active {
box-shadow: none !important;
border: none;
outline: none !important;
    color: #014880 !important;
}

button:hover {

border: none;
outline: none !important;
background-color: #FFFFFF;
    color: #029AE4 !important;
}

button {
color: #029AE4;
}

.btn:hover, {
color: #029AE4;
outline: none !important;
}

.btn:focus, {
color: #014880;
outline: none !important;


}


.speakers:hover {
    color: #029AE4;
    font-weight: 400;
    background-color: #FFFFFF;
        border:none;
}

.speakers:focus {
color: #029AE4;

}

.speakers:active {
color: #014880;

}



.all:focus { 
    outline: none !important;
    color: #029AE4;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 0px #0187D0;
    border:none;
}

.all:hover {
    outline:none !important;
    color: #029AE4;
    background-color: #FFFFFF;
    border:none;
}

.all:active {
    outline:none !important;
    background-color: #FFFFFF;
    box-shadow: none;
    color: #014880;
    border:none;
}

.all:visited {
    outline:none !important;
    color: #014880;
    border:none;
}

/* buttons filters*/

.filters{
    font-weight: 400;
    color: #014880;
    background-color: #029AE4;
    margin-top: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
text-transform: uppercase;
    margin-left: 5px;
    -moz-border-radius: 11px; 
    -webkit-border-radius: 11px; 
        border-radius: 11px;
    font-family: 'Lato', sans-serif;
    font-size: 0.75em;
    box-shadow: 0px 2px 0px #0187D0;
    text-align: left !important;
    border:none;

}
/*
.filters:focus{ 
    outline:none;
    color: #35a9dc;
    background-color: #ffffff;
    box-shadow: 0px 2px 0px #0187D0;
    border:none;
}

.filters:hover {
    color: #35a9dc;
        border:none;
        background-color: #FFFFFF;
}
*//*.filters:active {
    outline:none !important;
    background-color: #FFFFFF;
    box-shadow: none;
    border:none;
}
*/
/* timebottons */


.timeframe {
    outline:none !important;
    font-weight: 400;
    color: #014880;
    background-color: #029AE4;
margin-top: 10px;
margin-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 7px;
    padding-right: 7px;
    -moz-border-radius: 11px; 
    -webkit-border-radius: 11px; 
        border-radius: 11px;
    font-family: 'Lato', sans-serif;
    font-size: 0.75em;
    -webkit-box-shadow: 0px 2px 0px #0187D0;
    -moz-box-shadow: 0px 2px 0px #0187D0;
    box-shadow: 0px 2px 0px #0187D0;
    text-align: center!important;
    border:none;
}

@media only screen and (max-width : 992px) {

#infobutton {
    padding-top: 20px;
    margin-bottom: 0px;
text-align: center !important;}


#chart {
  height: 400px
}

   #timeleft {
   min-width: 100%;
   margin-top: 20px; 
}

#timeright {
   min-width: 100%;
      margin-bottom: 20px; 
}

#filters {
    text-align: center; 
   min-width: 100%;
}

#speakers {
    text-align: center; 
   min-width: 100%;
}

#tooltip {
    font-family: 'Lato', sans-serif;
    position: static;
    width: 12em!important;

}

.popup h2 {
    font-weight: 700 !important;
    font-size: 1.3em !important;
}

.popup p{
font-style: normal !important;
padding-top: 5px !important;
line-height: 1.4em !important;
}


}

@media only screen and (min-width : 992px) {

#chart {
  height: 600px;
}

#speakers hr{
  margin-left: 0;
}

#filters hr{
  margin-right: 0;

margin-top: 16px;
margin-bottom: 14px;
}

}




#timeleft {
    float: right !important;
}

#timeright {
    float: left !important;
}









.timeframe:hover {
    outline:none !important;
    color: #029AE4;
    font-weight: 400;
    background-color: #FFFFFF;
        border:none;
}
.timeframe:active {
    outline:none !important;
    background-color: #FFFFFF;
    box-shadow: none;
    border:none;
}



/* tooltips over the circles */
text {
    font-family: sans-serif;
    font-size: 12px;
    fill: white;
}
#tooltip {
    z-index: 10;
    font-family: 'Lato', sans-serif;
    position: static;
    width: 32em;
    height: auto;
    padding: 10px;
    position:absolute;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
}
#tooltip.hidden-tooltip {
    opacity: 0;
    top: 30px;
    right: 5px;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    line-height: 20px;
}

#tooltip .user-name {
    color:#28B5F5;
    font-weight: 900;
    font-size: 1em;
}


#tooltip strong{
    color:#536D79;
    font-weight: 400;
    font-size: 0.9em;
    padding-top: 8px;
}

#tooltip a:hover{
    color: #002e44;
    text-decoration: none;
}

#tooltip .created_at{
    color:#ADADAD;
    font-weight: 400;
    font-size: 0.8em;
text-transform: uppercase;
text-align: right !important;
}

#tooltip #tweet{
    padding-top: 7px;
    padding-bottom: 7px;
}

 .counts{
    font-size: 0.9em;
    color: #ADADAD;
    font-weight: 400;
}

 .counts a{
    text-decoration: none;
        color: #ADADAD;
background: none;
border: none;
    font-weight: 700;
}

.counts a:hover{
color: #37474f;
    font-weight: 700;
}

#username {
text-decoration: none;
}

#username :hover{
text-decoration: none;
}



/* TRY POP UP */


.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 3;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

/* sentence*/
textarea {
    outline:none;
    font-family: 'Lato', sans-serif;
        font-weight: 400;
    resize: none;
    color: #000000;
    border:none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    padding: 10px;
        padding-left: 15px;
            margin-bottom: 0px;

}

.popup {
    z-index: 4;
    background-color: #29b6f6;
    border: none;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {

    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {

    opacity: 1;
    height: 80px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -18px;
    width: 40px;
    font-size: 1em;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.popup a:before {
position: absolute;
top: 22px;
right:15px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Glyphicons Halflings'; 
  content: "\e014"; 
    font-size: 1.2em;
    height: 10px;
      -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
.popup:hover {
color: #00569A;


}

/* sentence*/
.popup p{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
        color: #FFFFFF;
}


.popup h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    margin-top: 16px;
    margin-right: 27px;
    margin-left: 27px;
    margin-bottom: 10px;
        color: #FFFFFF;
}

.popup label {

    display: inline-block;
    text-align: center;
    width: 100px;
}
/* popup info*/

.infopop a{ 

color: #28B5F5;

}


.infopop a:hover { 

color: #428bca;
text-decoration: none;

}

#closeinfo:before {

color: #28B5F5;

}

.infopop h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    margin-top: 16px;
    margin-right: 27px;
    margin-left: 27px;
    margin-bottom: 20px;
        color: #28B5F5;
}

.infopop p {
     font-family: 'Lato', sans-serif;
    font-style: normal !important;
    color:#323232;
       font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1em;
}

.infopop {
    z-index: 4;
    background-color: #FFFFFF;
    border: none;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}