<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Set the viewport so this responsive site displays correctly on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bubbleized</title>
  <!-- Include bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="img/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="css/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css">



  <meta content="A real time bubble packing of the #VISUALIZEDio14 conference " name="description">

  <meta content="Bubbleized" property="og:title">
  <meta content="Bubbleized" property="og:site_name">

  <meta content="A real time bubble packing of the #VISUALIZEDio14 conference " property="og:description">


</head>
<body ng-app="bubbleApp">
  <!-- Site header and navigation -->

  <header class="top col-centered" role="banner">

    <h1><b></b>bubble<b>ized</b><sup><small>&#x26AC</small></sup></h1>
    <hr>
    <h3>a real time bubble packing of the tweets about the #VISUALIZEDio14 London event </h2>

  </header>



  <!-- Site banner -->
  <div class="page" ng-controller="chartController">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1 col-md-2 col-sm-12 col-xs-12" id="speakers">  
            <h4> speakers</h4>
            <h5>Filter the tweets related<br>to each of the speakers</h5>
            <hr>
  
            <button class="btn btn-xs speakers" ng-repeat="speaker in speakers" ng-click="filter({speaker: speaker.name})">{{speaker.name}}</button>
              <hr>
              <button class="btn btn-xs all" ng-click="filter()">All the Speakers</button> 
        </div>
       
        <div class=" col-lg-6 col-md-7 col-sm-12 col-xs-12" id="chart">  
        

        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" id="filters">  
            <div>
            <h4>size</h4>
            <h5>Resize depending<br>on the properties<br>of each tweet</h5>
            <hr>
              <button class="btn filters">retweets</button> 
              <button class="btn filters">favourites</button> 
              <button class="btn filters">followers</button> 
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2 ">
          <button class="btn btn-xs timeframe" id="timeleft">Before the event</button>
        </div>

            <div class="col-md-4 col-sm-12 col-xs-12 " range-slider min="0" max="100" model-min="slider.min" model-max="slider.max">
              
            </div>
        
        <div class="col-md-2 ">
          <button class="btn btn-lg timeframe" id="timeright">After the event</button>
        </div>
    </div>
  </div>




  <!-- Site footer -->
  <div class="bottom" >
    
      <div class="col-md-3 col-xs-12 col-sm-12 share" >
      
      </div>

      <div class="col-md-6 col-xs-12 col-sm-12 col-centered" id="signature">
        <p>  <a href="http://infogr8.com" target="_blank" id="logo"> Made by<img src="img/logo.png" height="30"> with <font color="#28B5F5"> <i class="fa fa-heart"></i> </font> 
          
        </a>
        </p>
      </div>

      <div class="col-md-3 col-xs-12 col-sm-12  share" >
       <p>

          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://bubble.infogr8.com"><span class="fa fa-facebook"></span></a> 

          <a target="_blank" href="https://twitter.com/intent/tweet?&text=Bubbleized,%20Big%20Picture%20•%20a%20visual%20exploration%20of%20the%20reciprocal%20image%20of%20Italy%20and%20China%20observed%20through%20digital%20methods%20•%20http://bubble.infogr8.com"><span class="fa fa-twitter"></span></a>

          <a class="share" target="_blank" href="https://plus.google.com/share?url=www.bubble.infogr8.com"><i class="fa fa-google-plus-square "></i></a>


          <a class="share" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://bubble.infogr8.com/&amp;title=Bubbleized by Infogr8&amp;summary=a real time bubble packing of the VISUALIZEDio14 tweets " target="_blank"><i class="fa fa-linkedin "> </i></a>
          
          

          <a  href="#login_form" id="login_pop"        ><i class="fa fa-code share"></i></a>                        
        </p>
      </div>
  </div>


  <!-- popup form #1 -->
        <a href="#x" class="overlay" id="login_form"></a>
        <div class="popup">
            <h2>Embed this into your site</h2>
            <p>Copy this code into your site or blog to share with your followers</p>
            
            <div class="code">
              <textarea rows="4" cols="60";>"<iframe src="http://www.bubble.infogr8.com" width="300px" height="100px"></iframe>"</textarea>
            </div>


            <a class="close" href="#close"></a>
        </div>


<div id="tooltip" class="hidden-tooltip">
    <img><span class="user-name"></span> <br><span class="created_at"></span> <br>
    <div id="tweet"><strong>Title</strong></div>
  
    <div class="row counts">
        <div class="col-md-6">Retweets: <span class="retweet_count"></span></div>
        <div class="col-md-6">Favorites: <span class="favorite_count"></span></div>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/angularjs/angular.min.js"></script>
<script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
<script src="js/app.js"></script>
<script src="js/chart.js"></script>
</body>
</html>
