<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <!-- Set the viewport so this responsive site displays correctly on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bubbleized</title>

  <!-- Include bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="img/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="css/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css">
<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>


  <meta content="A dynamic bubble packing of the tweets around the VISUALIZEDio14 conference" name="description">

  <meta content="Bubbleized" property="og:title">
  <meta content="Bubbleized" property="og:site_name">

  <meta content="A dynamic bubble packing of the tweets around the VISUALIZEDio14 conference " property="og:description">
  <meta content="http://bubble.infogr8.com/img/preview2.png" property="og:image">
  <meta content="image/png" property="og:image:type">
  <meta content="http://bubble.infogr8.com" property="og:url">


</head>
<body ng-app="bubbleApp">
  <!-- Site header and navigation -->

  <header class="top col-centered" role="banner">

    <h1><b></b>bubble<b>ized</b><sup><small> &#x26AC</small></sup></h1>
    <hr>
    <h3>a dynamic bubble packing of the tweets around the <a href="http://visualized.io/london/" target="_blank">#VISUALIZEDio14</a> London event </h2>

  </header>



  <!-- Site banner -->
  <div class="page" ng-controller="chartController">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1 col-md-2 col-sm-12 col-xs-12" id="speakers">  
            <h4>Speakers</h4>
            <h5>Filter the tweets related<br>to each of the speakers<br>at the conference</h5>

  
            <button class="btn btn-xs speakers" ng-repeat="speaker in speakers" ng-click="filterSpeakers(speaker)" ng-class="{'active-button': speaker === filteredSpeaker}">{{speaker}}</button>
              <hr>
              <button class="btn btn-xs all" ng-class="{'active-button': !filteredSpeaker}" ng-click="filterSpeakers()">All the Speakers</button> 
        </div>
       
        <div class=" col-lg-6 col-md-7 col-sm-12 col-xs-12" id="chart">  
        

        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" id="filters">  
            <div>
            <h4>Criteria</h4>
            <h5>Resize depending on the properties <br> of each tweet</h5>
              <button class="btn filters" ng-class="{'active-button': !activeWeight}" ng-click="setWeight()">Relevance</button> 

              <button class="btn filters" ng-repeat="weight in weights" ng-class="{'active-button': activeWeight === weight}" ng-click="setWeight(weight)">{{weight}}</button> 
            </div>
            <hr>
            <h4>Keywords</h4>

            <button class="btn filters" ng-class="{'active-button': activeKeyword === item.keyword}" ng-click="filterKeyword(item.keyword)" ng-repeat="item in keywords | limitTo:5">{{item.keyword}} ({{item.count}})</button>
            <hr>
            <h4>#Hashtags</h4>
            <button class="btn filters" ng-class="{'active-button': activeHashtag === item.keyword}" ng-click="filterHashtag(item.keyword)" ng-repeat="item in hashtags | limitTo:5">{{item.keyword}} ({{item.count}})</button>
            <hr>
            <button class="btn btn-xs all" ng-click="reset()"> <span class="glyphicon glyphicon-remove" style="vertical-align:-1px"></span> Reset Filters</button> 

        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2 ">
          <button class="btn btn-xs timeframe timefilter" id="timeleft" ng-click="filterBefore()" ng-class="{'active-button': before}">Before the event</button>
        </div>

            <div class="col-md-4 col-sm-12 col-xs-12 " disabled="sliderDisabled" range-slider min="0" max="100" model-min="slider.min" model-max="slider.max">
              
            </div>
        
        <div class="col-md-2 ">
          <button class="btn btn-lg timeframe timefilter" id="timeright" ng-class="{'active-button': after}" ng-click="filterAfter()">After the event</button>
        </div>
    </div>
  </div>




  <!-- Site footer -->
  <div class="bottom" >
    
      <div class="col-md-2 col-md-offset-1 col-xs-12 col-sm-12 share" id="infobutton" >
        <a  href="#info" id="info_pop"        ><i class="fa fa-info-circle share"></i></a> 
      
      </div>

      <div class="col-md-6 col-xs-12 col-sm-12 col-centered" id="signature">
        <p>  <a href="http://infogr8.com" target="_blank" id="logo"> Made by<img src="img/logo.png" height="30"> with <font color="#28B5F5"> <i class="fa fa-heart"></i> </font> </a>
        </p>
      </div>

      <div class="col-md-3 col-xs-12 col-sm-12  share" >
       <p>

          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://bubble.infogr8.com"><span class="fa fa-facebook"></span></a> 

          <a target="_blank" href="https://twitter.com/intent/tweet?&text=Follow%20the%20buzz%20around%20@VISUALIZEDio%20with%20this%20interactive%20bubble%20tool%20•%20http://bubble.infogr8.com"><span class="fa fa-twitter"></span></a>

          <a class="share" target="_blank" href="https://plus.google.com/share?url=www.bubble.infogr8.com"><i class="fa fa-google-plus-square "></i></a>


          <a class="share" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://bubble.infogr8.com/&amp;title=Bubbleized by Infogr8&amp;summary=a real time bubble packing of the VISUALIZEDio14 tweets " target="_blank"><i class="fa fa-linkedin "> </i></a>
          
          

          <a  href="#login_form" id="login_pop"        ><i class="fa fa-code share"></i></a>                        
        </p>
      </div>
  </div>


  <!-- popup form #1 -->
        <a href="#x" class="overlay" id="login_form"></a>
        <div class="col-md-3 col-sm-5 col-centered popup">
            <h2>Embedding code</h2>
            <p>Copy this code into your site or blog to share with your followers</p>
            
            <div class="code">
              <textarea rows="6" class="col-md-12 col-sm-12 col-xs-12 col-centered" autofocus><iframe src="http://www.bubble.infogr8.com" width="300px" height="100px"></iframe></textarea>
            </div>


            <a class="close" href="#close"></a>
        </div>

          <!-- Info  -->
        <a href="#y" class="overlay" id="info"></a>
        <div class="popup col-md-4 col-sm-6 col-xs-10 infopop" >
            <h2>Info</h2>
            <p>Bubbleized is a collaboration between <br><a href="https://www.linkedin.com/profile/view?id=29262487&authType=NAME_SEARCH&authToken=GAJM&locale=en_US&trk=tyah&trkInfo=tarId%3A1416333172720%2Ctas%3Arichard%20silvester%2Cidx%3A1-1-1" target="_blank">Richard Silvester</a> and <a href="http://www.giuliofagiolini.com" target="_blank">Giulio Fagiolini</a> at <a href="http://infogr8.com/" target="_blank">Infogr8 Labs</a>.<br><br> Currently in beta version, Bubbleized has been developed for the <a href="http://visualized.io/london/" target="_blank">VISUALIZED.IO </a>event in London, to visually explore and interact with the twitter activity pre, during and post the conference. 
            <br> 
            <br> 
            Infogr8 Labs is a division of Infogr8 <br> producing visual solutions around innovation.
<br>
<br>
                        <a href="http://infogr8.com/infogr8-labs/" target="_blank"><img src="img/labs.png" align="left" height="65" ></a>
            <a href="http://infogr8.com/" target="_blank"><img src="img/logo.png" align="right" height="30" id="logolabs"></a>


<br>
            </p>
            
            
            <a class="close" id="closeinfo" href="#close"></a>
        </div>


<div id="tooltip" class="hidden-tooltip">
    <img>
    <a href="" class="user_link" target="_blank" id="username"><span class="user-name"></span></a><br><span class="created_at"></span> 
    <br>
    <div id="tweet"><strong>Title</strong></div>
  
    <div class="row counts">
        <a href="" class="col-md-2 reply_link" target="_blank"><i class="fa fa-reply"></i></a>
        <a href="" class="col-md-2 retweet_link" target="_blank"><span class="retweet_count"></span> <i class="fa fa-retweet"></i></a>
        <a href="" class="col-md-2 favourite_link" target="_blank"><span class="favorite_count"></span> <i class="fa fa-star"></i></a>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angularjs/angular.min.js"></script>
<script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
<script src="js/app.js"></script>
<script src="js/chart.js"></script>
<script src="js/urlReplacer.js"></script>


<!--Google Analytics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56779185-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="http://getaninsight.com/id/wi/381/jq/1/b/014880/p/r/t/y/"></script>
</body>
</html>
